{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<h2>Announcements</h2>
	Announcements are sorted by most recent first.
	<div>
		<br>
		31/07/2019 12:00pm: The Prologue for the hunt is now available from the <a href='/puzzles/'>puzzles page</a>.
	</div>
	<div>
		<br>
		01/07/2019 12:00pm: Registrations are live! Head to the <a href='/registration/'>registration page</a> to register your team.
	</div>
</div>
</div>

{% endblock %}