{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<h2>Announcements</h2>
	Announcements are sorted by most recent first. All times are in AEST (UTC+10)
	
	<table>
		<tbody>
			{% for message, msgTime in messageList %}
				<tr>
					<td class="shrink">{{msgTime}}: </td>
					<td>{{message | safe}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% for message, msgTime in messageList %}
		<div>
			<br>
		{{msgTime}}: {{message | safe}}
		</div>
	{% endfor %}

</div>
</div>

{% endblock %}