{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<h2>Q: Who are you? What is MUMS?</h2>
	<p>We are the Melbourne University Mathematics and Statistics Society (MUMS), a student-run organisation for maths students and enthusiasts at the University of Melbourne in Australia. We hold many events throughout the year, such as this Puzzle Hunt, as well as Maths Olympics, seminars, games nights, and many other activities. Please visit our <a href='https://www.facebook.com/MelbUniMathsStats/'>Facebook page</a> and chuck us a like!</p>

	<p>MUMS has held annual puzzle hunts most years since 2004. We are extremely excited to revive it for 2019! Some of the writers of this Puzzle Hunt are University of Melbourne students who regularly compete in online puzzle hunts under the team "Green Blazers".</p>

	<h2>Q: What is a "puzzle hunt"?</h2>
	<p>A puzzle hunt is a competition where teams solve a series of puzzles. These puzzles are not your standard newspaper puzzles like sudokus, where the rules of the puzzle are known to the solver. Rather, you usually receive no information or guidance on how to solve the puzzles; half the fun is figuring out where to start!</p>

	<p>If you are new to online puzzle hunts, we recommend that you check out some previous hunts, such as:</p>
	<ul>
		<li><a href='http://researchers.ms.unimelb.edu.au/~mums/puzzlehunt/2016/'>Previous MUMS Puzzle Hunts</a></li>
		<li><a href='http://www.maths.usyd.edu.au/ub/sums/puzzlehunt/2018/archives'>Sydney University Mathematics Society Puzzle Hunts</a></li>
		<li><a href='http://www.mezzacotta.net/puzzle/'>The mezzacotta Puzzle Competition</a></li>
		<li><a href='https://galacticpuzzlehunt.com/archive'>The Galactic Puzzle Hunts</a></li>
		<li><a href='http://2018.caltechpuzzlehunt.org/'>The Caltech Puzzle Hunt</a></li>
		<li><a href='https://reddothunt.sg/2018'>The REDDOThunts</a></li>
	</ul>
	<p>Please familiarise yourself with the specific <a href='../rules/'>rules</a> of this Puzzle Hunt.</p>

	<h2>Q: Does my team need to pay to enter?</h2>
	<p>Entry is completely free!</p>
</div>
</div>
{% endblock %}