{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<h3>Q: Who are you? What is MUMS?</h3>
	<p>We are the Melbourne University Mathematics and Statistics Society (MUMS), a student-run organisation for maths students and enthusiasts at the University of Melbourne in Australia. We hold many events throughout the year, such as this Puzzle Hunt, as well as Maths Olympics, seminars, games nights, and many other activities. Please visit our <a href='https://www.facebook.com/MelbUniMathsStats/'>Facebook page</a> and chuck us a like!</p>

	<p>MUMS has held annual puzzle hunts most years since 2004. We are extremely excited to revive it for 2019! Some of the writers of this Puzzle Hunt are University of Melbourne students who regularly compete in online puzzle hunts under the team "Green Blazers".</p>

	<h3>Q: What is a "puzzle hunt"?</h3>
	<p>A puzzle hunt is a competition where teams solve a series of puzzles. These puzzles are not your standard newspaper puzzles like sudokus, where the rules of the puzzle are known to the solver. Rather, you usually receive no information or guidance on how to solve the puzzles; half the fun is figuring out where to start!</p>

	<p>If you are new to online puzzle hunts, we recommend that you check out some previous hunts, such as:</p>
	<ul>
		<li><a href='http://researchers.ms.unimelb.edu.au/~mums/puzzlehunt/2016/'>Previous MUMS Puzzle Hunts</a></li>
		<li><a href='http://www.maths.usyd.edu.au/ub/sums/puzzlehunt/2018/archives'>Sydney University Mathematics Society Puzzle Hunts</a></li>
		<li><a href='http://www.mezzacotta.net/puzzle/'>The mezzacotta Puzzle Competition</a></li>
		<li><a href='https://galacticpuzzlehunt.com/archive'>The Galactic Puzzle Hunts</a></li>
		<li><a href='http://2018.caltechpuzzlehunt.org/'>The Caltech Puzzle Hunt</a></li>
		<li><a href='https://reddothunt.sg/2018'>The REDDOThunts</a></li>
		<li><a href='https://www.mit.edu/~puzzle/'>The MIT Mystery Hunts</a></li>
	</ul>
	<p>Please familiarise yourself with the specific <a href='../rules/'>rules</a> of this Puzzle Hunt.</p>

	<h3>Q: Do I need any experience to enter?</h3>
	<p>No. The Hunt is open to everyone! Our puzzles vary in difficulty, so don't be too worried if you haven't done many hunts before. Once again, we recommend you browse through previous hunts listed above.</p>

	<h3>Q: Do I need to have 10 members in my team?</h3>
	<p>No. You can have as many members in your team up to a maximum of 10. Of course, the more the merrier!</p>

	<h3>Q: I really want to take part, but I don't have anyone with whom to form a team.</h3>
	<p>You can register a one-person team now, and then add members to your team later.</p>
	<p>If you are a University of Melbourne student and would like us to help you find a team, fill out <a href="https://forms.gle/H8YZCAz9qSQfKtjv6">this form here</a>. We'll try to place you in a team.</p>

	<h3>Q: Does my team need to pay to enter?</h3>
	<p>Entry is completely free, and always will be!</p>
	<p>However, if you would like to support MUMS and the Puzzle Hunt, we will be accepting donations via <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3HUMG3RCWHH8N&item_name=MUMS+Puzzle+Hunt&currency_code=AUD&source=url">this PayPal link</a>. We, the Puzzle Hunt team, are all students who love puzzling and wrote this Hunt during our spare time. Every dollar will go towards covering our costs and keeping this Hunt alive for future years. We recommend a small donation of $2 AUD (or any other currency) per member of your team, which is the price of half a cup of coffee for a week-and-a-half of fun. That said, please feel free to donate as much or as little as you want (if at all). Thank you so so much for your support!</p>

	<h3>Q: Is there a physical component of the Hunt?</h3>
	<p>No. The Hunt is held entirely online and will not require a physical presence anywhere.</p>

	<h3>Q: Am I allowed to use the Internet to research?</h3>
	<p>Of course! The Hunt will often require you to research things. You are free to use whichever resource you wish.</p>

	<h3>Q: Can I write code that interacts with your webserver?</h3>
	<p>Automated requests will not be necessary at any stage of the Hunt. Attempts to attack the website may be grounds for disqualification.</p>

	<h3>Q: Is there a registration deadline?</h3>
	<p>No. You may register your team at any time up to the end of the Hunt (16th August 2019, 12pm AEST).</p>

	<h3>Q: The cube on the <a href='../'>home page</a> looks really weird!!</h3>
	<p>We recommend that you use the latest desktop version of Google Chrome for the Hunt. If this issue persists, contact us at <a href="mailto:mumspuzzlehunt2019@gmail.com" target="_top">mumspuzzlehunt2019@gmail.com</a>.</p>

	<h3>Q: The cube on the <a href='../'>home page</a> looks amazing! Who designed it?</h3>
	<p>The cube on the home page is based on a Javascript Rubik's cube written by the amazing Stewart Smith. Check out his website at <a href='http://stewartsmith.io/'>stewartsmith.io</a>.</p>

	<h3>Q: How do we contact you?</h3>
	<p>If you have a query about anything that's not addressed in this FAQ, send us an email at <a href="mailto:mumspuzzlehunt2019@gmail.com" target="_top">mumspuzzlehunt2019@gmail.com</a>, and we'll try to get back to you as fast as possible!</p>
</div>
</div>
{% endblock %}