<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
	<title>MUMS Puzzle Hunt</title>
	<meta charset="utf-8" />
	<meta name="Description" content="The Melbourne University Mathematics and Statistics Society is pleased to announce the return of the Puzzle Hunt in 2019. It will be held during 7th - 16th August 2019; entry is free and open to all.">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<!-- My own custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'PHapp/css/style.css'%}">
	<link rel="shortcut icon" type="image/png" href="{% static 'PHapp/img/logo.png' %}"/>	

	{% block header %}
	{% endblock %}
</head>

<body class="body">
	<div id="fullscreen-wrapper">
	<div class="navbar-container">
		<div class="navbar-container-inner">
			<nav class="main-nav">
				<a class="link-nav" href="/"><img src="{% static 'PHapp/img/logoLightFont.png' %}" alt="MUMS Logo" style="width:50px;padding:5px">  MUMS Puzzle Hunt</a>
				<a class="link-nav" href="/announcements/">Announcements</a>
				<a class="link-nav" href="/faq/">About / FAQ</a>
				<a class="link-nav" href="/rules/">Rules</a>
				<a class="link-nav" href="/puzzles/">Puzzles</a>
				<a class="link-nav" href="/teams/">Teams</a>

				{% if user.is_authenticated %}
          <a class="link-nav" style="color:yellow" href="/team/{{user.teams.id}}/">{{user.teams.teamName}}</a>
					<a class="link-nav" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3HUMG3RCWHH8N&item_name=MUMS+Puzzle+Hunt&currency_code=AUD&source=url">Donate</a>
					<a class="link-nav" href="/logout/">Logout</a>
				{% else %}
					<a class="link-nav" href="/registration/">Registration</a>
					<a class="link-nav" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3HUMG3RCWHH8N&item_name=MUMS+Puzzle+Hunt&currency_code=AUD&source=url">Donate</a>
					<a class="link-nav" href="/login/">Login</a>
				{% endif %}

			</nav>
		</div>
	</div>
	<!--<div class="container col-sm-2"></div>-->
		<div id="content-wrapper" class="container" >
			{% block content %}
			{% endblock %}
		</div>
	<!--<div class="container col-sm-2"></div>-->
	</div>

	<footer class="footer font-small blue">
		<div class="footer-copyright text-center py-3"><font style="color:white">© 2019: </font>
            <a href='https://www.facebook.com/MelbUniMathsStats/' style="color:white"> Melbourne University Mathematics and Statistics Society</a>
        {% if request.path != "/" %}
			<br>
			<br>
			<img src="{% static 'PHapp/img/MUMSLogo.png' %}" alt="MUMS Logo" style="height:120px; padding:10px">
			<img src="{% static 'PHapp/img/logoLightFont.png' %}" alt="MUMS Logo" style="height:120px; padding:10px">
            <img src="{% static 'PHapp/img/UMSU.png' %}" alt="MUMS Logo" style="height:120px; padding:10px">
        {% endif %}
		</div>
	</footer>
<!-- Footer -->

</body>

</html>