{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
	<div>
		<table class="table table-bordered">
			<tbody>
				{% for i in puzzleList %}
					<tr>
						<td>Act {{i.act}}, Scene {{i.scene}}</td>
						<td>
							{% with i.pdfPath as puz %}
								<a href="{% static puz %}">{{i.title}}</a>
							{% endwith %}
						</td>
						<td>
							<a href="/solve/{{i.act}}.{{i.scene}}/solve/">Solve</a>
						</td>
						<td>Hints</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}