{% extends "PHapp/header.html" %}
{% load static %}

{% block header %}
		<link rel="stylesheet" type="text/css" href="{% static 'PHapp/css/cube.css'%}">

		<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/three.min.js'%}"></script>
		<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/CSS3DRenderer.js'%}"></script>
		<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/SVGRenderer.js'%}"></script>
		<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/tween.min.js'%}"></script>
		<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/TrackballControls.js'%}"></script>
		<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/jquery.js'%}"></script>
  	<script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/skip.js'%}"></script>		
    <script charset="utf-8" src="{% static 'PHapp/js/cube/vendor/Projector.js'%}"></script>		
        
		<script charset="utf-8" src="{% static 'PHapp/js/cube/cube_min.js'%}"></script>
{% endblock %}

{% block content %}

<div class="home-heading">
	<h1>MUMS Puzzle Hunt 2019</h1>
	<h3>7th Aug 2019 - 16th Aug 2019</h3>
</div>

<div class="fill graydient" id="outer-container">
	<div id="cube-container">
		<div class="heading">
			<br><br><br><br>
			<h4 id="loading-message">Cube loading: may take a few seconds.</h4>
		</div>
	</div>
<div id="controlsOpen">
	<div class="pad">
		<a href="." onclick="$('#controls').fadeIn( 500 );$('#controlsOpen').fadeOut( 500 );return false">Cube Control</a>
	</div>
</div>
<div id="controls">
	<div class="pad">
		<a id="controlsClose" class="key" href="." onclick="$('#controls').fadeOut( 500 );$('#controlsOpen').fadeIn( 500 );return false">&uarr;</a>

		<div id="commands">
			<h2>Keyboard commands</h2>
			<div class="keyBundle">
				<a class="key" href="javascript:cube.twistQueue.add('X')">X</a><a class="key" href="javascript:cube.twistQueue.add('x')">x</a> whole cube<br>
				<a class="key" href="javascript:cube.twistQueue.add('L')">L</a><a class="key" href="javascript:cube.twistQueue.add('l')">l</a> left face<br>
				<a class="key" href="javascript:cube.twistQueue.add('M')">M</a><a class="key" href="javascript:cube.twistQueue.add('m')">m</a> middle slice<br>
				<a class="key" href="javascript:cube.twistQueue.add('R')">R</a><a class="key" href="javascript:cube.twistQueue.add('r')">r</a> right face<br>
			</div>
			<div class="keyBundle">
				<a class="key" href="javascript:cube.twistQueue.add('Y')">Y</a><a class="key" href="javascript:cube.twistQueue.add('y')">y</a> whole cube<br>
				<a class="key" href="javascript:cube.twistQueue.add('U')">U</a><a class="key" href="javascript:cube.twistQueue.add('u')">u</a> up face<br>
				<a class="key" href="javascript:cube.twistQueue.add('E')">E</a><a class="key" href="javascript:cube.twistQueue.add('e')">e</a> equator slice<br>
				<a class="key" href="javascript:cube.twistQueue.add('D')">D</a><a class="key" href="javascript:cube.twistQueue.add('d')">d</a> down face<br>
			</div>
			<div class="keyBundle">
				<a class="key" href="javascript:cube.twistQueue.add('Z')">Z</a><a class="key" href="javascript:cube.twistQueue.add('z')">z</a> whole cube<br>
				<a class="key" href="javascript:cube.twistQueue.add('F')">F</a><a class="key" href="javascript:cube.twistQueue.add('f')">f</a> front face<br>
				<a class="key" href="javascript:cube.twistQueue.add('S')">S</a><a class="key" href="javascript:cube.twistQueue.add('s')">s</a> standing slice<br>
				<a class="key" href="javascript:cube.twistQueue.add('B')">B</a><a class="key" href="javascript:cube.twistQueue.add('b')">b</a> back face<br>
			</div>
		</div>
	</div>
</div>
</div>

	<script>
		$(document).ready(function(){
			resizeContent();
		});
		window.onresize = function(event) {
			resizeContent();
		}
		function resizeContent() {
			let vph = $(window).height, header_height = $(".navbar-container")[0].clientHeight
		$("#content-wrapper").css({"top": header_height + "px", "max-height": (vph-header_height) + "px"});
		}
	</script>

{% endblock %}