{% extends "PHapp/header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% if linkExpired %}
		<h2>Error</h2>
		<p>This password link may be invalid or expired. Try again <a href='/password_change/'>here</a>.
	{% else %}
		<h2>Password reset</h2>
		<p>Team: <b>{{team.teamName}}</b></p>
		<p>Username: <b>{{user.username}}</b></p>
		<div>
			<form method="post">
				<div class="form-group">
					{% csrf_token %}

					{{ changeForm|crispy }}	

					<br>
					<button type="submit" class="btn btn-success btn-block">Submit</button>
				</div>
			</form>
		</div>
	{% endif %}
</div>
</div>
{% endblock %}