{% extends "PHapp/header.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% if bad %}
		<h2>Error</h2>
		<p>An error has occurred and we were unable to send you a password reset link. Please contact us at <a href='mailto: mumspuzzlehunt2019@gmail.com'>mumspuzzlehunt2019@gmail.com</a>.</p>
  {% else %}
	  <h2>Password reset email sent</h2>
		<p>An email containing a password reset link has been sent to your email address. If you do not receive this email, wait a few minutes or try again. If you still do not receive this email, please contact us at <a href='mailto: mumspuzzlehunt2019@gmail.com'>mumspuzzlehunt2019@gmail.com</a>.</p>
  {% endif %}
</div>
</div>

{% endblock %}