{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<p>Note: sometimes errors are found in puzzles after they have been released. All such errata will be published on the <a href='/announcements/'>announcements page</a>. Thank you for your understanding. If you believe there is an error in a puzzle, please let us know at <a href='mailto: mumspuzzlehunt2019@gmail.com'>mumspuzzlehunt2019@gmail.com</a>.
	<table class="table table-bordered">
		<thead>
			<tr>
				<td class="shrink"></td>
				<td>Puzzle</td>
				<td class="shrink">Points</td>
				<td class="shrink">Solve / Solution</td>
				<td class="shrink">Hints</td>
				<td class="shrink">Solves / Incorrect guesses</td>
				{% if isGB %}
					<td class="shrink">Guesslog</td>
				{% endif %}
			</tr>
    </thead>
		<tbody>
			<tr>
				<td class="shrink">Prologue</td>
				<td class="expand"><a href='/puzzles/Prologue.pdf' target="_blank">Prologue</a></td>
				<td class="shrink">-</td>
				<td class="shrink">-</td>
				<td class="shrink">-</td>
				<td class="shrink">-</td>
			</tr>
			{% if nextRelease.0 != 0 %}
				{% for isPuzzle, puzzle, solved, correct, incorrect, worth in puzzleList %}
					{% if isPuzzle %}
						<tr>
							<td class="shrink">{{puzzle.hyperlinkText}}</td>
							<td class="expand">
								<a href='/{{puzzle.pdfURI}}' target="_blank">{{puzzle.title}}</a>
							</td>
							
							{% if solved %}
								<td class="shrink" style="color:green"><b>{{worth}}<b></td>
								<td class="shrink" style="color:green"><b>{{puzzle.answer}}</b></td>
							{% else %}
								<td class="shrink">{{worth}}</td>
								<td class="shrink"><a href="/solve/{{puzzle.solveURI}}">Solve</a></td>
							{% endif %}
							<td class="shrink"><a href='/hints/{{puzzle.solveURI}}'>Hints</a></td>
							<td class="shrink"><a href='/puzzlestats/{{puzzle.solveURI}}'>{{correct}} / {{incorrect}}</a></td>
							{% if isGB %}
								<td class="shrink"><a href='/guesslog/{{puzzle.solveURI}}'>Guesslog</a></td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="6" align="center" style="color:red; font-weight: bold;">{{puzzle}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
		</tbody>
	</table>

	{% if nextRelease.0 == 0 %}
		<h4>Puzzles will be released in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 1 %}
		<h4>More puzzles and hints will be released in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 2 %}
		<h4>More hints will be released in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 3 %}
		<h4>The hunt will end in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 4 %}
		<h4>Hunt over!</h4>
	{% endif %}

</div>
</div>

{% endblock %}