{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}<br>
<div class="outer-container">
<div class="inner-container">
	{% if nextRelease.0 != 0 %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<td class="shrink"></td>
					<td>Puzzle</td>
					<td class="shrink">Points</td>
					<td class="shrink">Solve / Solution</td>
					<td class="shrink">Hints</td>
					<td class="shrink">Solves / Incorrect guesses</td>
				</tr>
			<tbody>
				{% for puzzle, solved, correct, incorrect, worth in puzzleList %}
					<tr>
						<td class="shrink">{{puzzle.hyperlinkText}}</td>
						<td class="expand">
							<a href='/{{puzzle.pdfURI}}' target="_blank">{{puzzle.title}}</a>
						</td>
						
						{% if solved %}
							<td class="shrink" style="color:green"><b>{{worth}}<b></td>
							<td class="shrink" style="color:green"><b>{{puzzle.answer}}</b></td>
						{% else %}
							<td class="shrink">{{worth}}</td>
							<td class="shrink"><a href="/solve/{{puzzle.solveURI}}">Solve</a></td>
						{% endif %}
						<td class="shrink"><a href='/hints/{{puzzle.solveURI}}'>Hints</a></td>
						<td class="shrink"><a href='/puzzlestats/{{puzzle.solveURI}}'>{{correct}}/{{incorrect}}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if nextRelease.0 == 0 %}
		<h4>Puzzles will be released in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 1 %}
		<h4>More puzzles and hints will be released in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 2 %}
		<h4>More hints will be released in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 3 %}
		<h4>The hunt will end in {{nextRelease.1}}.</h4>
	{% elif nextRelease.0 == 4 %}
		<h4>Hunt over!</h4>
	{% endif %}

</div>
</div>

{% endblock %}