{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">

	<h2>Teams</h2>
	<ul>
		<li>Participation in the Puzzle Hunt is in teams of up to ten members each.</li>
		<li>Register a team <a href="/registration/">here</a>. You will be asked to provide a team name, an optional team email, and the details of each individual member.</li>
		<li>Each individual member is asked to provide their name and email, and is also asked whether they reside in Australia and whether they are a student at the University of Melbourne. All information except for names will be kept strictly confidential.</li>
		<li>A team with at least one member residing in Australia will be considered an Australian team, and will be eligible for prizes. An Australian postal address is required from a prize-winning team.</li>
		<li>Individuals may not be part of more than one team. Individuals found in breach of this will cause all offending teams to be disqualified.</li>
	</ul>

	<h2>Format of the Hunt</h2>
	<ul>
		<li>The Puzzle Hunt will begin on the <strong>7th August 2019 at 12 noon AEST (Australian Eastern Standard Time, UTC+10)</strong>. It will end on <strong>16th August 2019 at 12 noon AEST</strong>.</li>
		<li>There are six rounds of puzzles (Acts), each with five puzzles (Scenes). There is also one special "Meta" puzzle.</li>
		<li>The first Act is released when the Hunt begins, and each subsequent Act is released 24 hours after the previous Act. The Meta puzzle is released with the Act VI puzzles.</li>
		<li>For each puzzle, one hint is released every 24 hours after the puzzle's release, up to a maximum of three hints per puzzle.</li>
		<li>Teams are allowed 100 guesses every 24 hours. This is reset at 12 noon AEST every day. Correct guesses do not use up guesses. Unused guesses do not carry over. If you use up all 100 guesses within 24 hours, you must wait for the reset before you may submit any more guesses.</li>
	</ul>

	<h2>Scoring</h2>
	<ul>
		<li>Each puzzle is worth 5 points at release, and loses 1 point in value when each hint is released. Thus, solving a puzzle is worth 2, 3, 4 or 5 points depending on how many hints have been released for that puzzle.</li>
		<li>The final Meta puzzle is worth no points.</li>
		<li>No score penalty is applied for incorrect guesses, but the number of available incorrect guesses will decrease.</li>
		<li>Teams are first ranked by score. If scores between two teams are tied, then the team with more puzzles solved ranks higher. If teams are still tied, then the team with the lower average solve time ranks higher.</li>
	</ul>

	<h2>Solving a Puzzle</h2>
	<ul>
		<li>Each puzzle has a single solution (most likely a word or phrase) composed of only the 26 letters of the English alphabet. This means that it will not contain digits or punctuation.</li>
		<li>To solve a puzzle, click "Solve" next to the relevant puzzle on the <a href="/puzzles/">puzzle page</a>. This will navigate you to the answer checker.</li>
		<li>The answer checker is <strong>case-insensitive</strong>, and will automatically strip characters that are not part of the standard English alphabet.</li>
	</ul>

	<h2>Prizes</h2>
	<ul>
		<li>Prizes are available to Australian teams only (ie. a team with at least one Australian team member). Prizes are in the form of gift cards. We are currently discussing prizes with our sponsors, but historically:
		<li>1st place ($300 AUD) - Awarded to the first team to solve the Meta puzzle</li>
		<li>2nd place ($200 AUD) - Awarded to the highest-ranked (non-winning) team</li>
		<li>3rd place ($100 AUD) - Awarded to the second highest-ranked (non-winning) team</li>
		<li>MUMS Committee members may take part in the Hunt but their teams are ineligible for prizes.</li>
	</ul>

	<h2>Miscellaneous</h2>
	<ul>
		<li>Any action deemed unsporting by the organisers of the Puzzle Hunt will result in disqualification. This includes, but is not limited to, soliciting and/or stealing answers and intentionally sabotaging any aspect of a puzzle. Attempts to hack the website will also not be tolerated.</li>
	</ul>

	<h2>Contact</h2>
	<ul>
		<li>If you wish to clarify any of the rules, or to dispute any decision made by the organisers, send your enquiry to <a href="mailto:mumspuzzlehunt2019@gmail.com" target="_top">mumspuzzlehunt2019@gmail.com</a>.</li>
	</ul>
	
</div>
</div>
{% endblock %}