{% extends "PHapp/header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<center>
		<h4>Enter a guess for <a href='{{puzzle.pdfURI}}'>{{puzzle.hyperlinkText}}: {{puzzle.title}}</a></h4>
		<br>

        {% if solveType == 0 %}
            {% if altMessage %}
                {% if altMessage.0 %}
                <h4 style='color:red'>{{altMessage.0}}</h4>
                {% endif %}
                {% if altMessage.1 %}
                <h4 style='color:red'>{{altMessage.1}}</h4>
                {% endif %}
            {% else %}
                <h4 style='color:red'>Incorrect!</h4>
                <h4 style='color:red'>{{puzzle.losePun}}</h4>
            {% endif %}
			<br>
		{% elif solveType == 1 %}
			<h4 style='color:red'>You have already guessed "{{displayGuess}}"!</h4>
			<h5>For the record, it was incorrect. This does not affect your remaining guesses.</h5>
			<br>
		{% elif solveType == 2 %}
			<h4 style='color:green'>Almost...</h4>
			{% if altAns %}
				<h5>Your solution of <font style='color:green'><b>{{altAns}}</b></font> is acceptable, but the actual solution is:</h5>
				<h4 style='color:green'>{{puzzle.answer}}</h4>
				<br>
				<h4 style='color:green'>BUT you're not quite there yet...</h4>
			{% else %}
				<h5>Your solution of <font style='color:green'><b>{{altAns}}</b></font> means you're not quite there yet...</h5>
			{% endif %}
			<br>
		{% elif solveType == 3 %}
			<h4 style='color:green'>You have already guessed "{{displayGuess}}"!</h4>
			<h4 style='color:green'>For the record, it was correct. This does not affect your remaining guesses.</h4>
		{% endif %}

		<h6>You have {{team.guesses}} guesses remaining.</h6>
	</center>

	<div>
		<form method="post">
			<div class="form-group text-center">
				{% csrf_token %}
				{{ solveform|crispy }}
				<button type="submit" class="btn btn-success btn-block">Submit</button>
			</div>
		</form>
	</div>

	<br>
	<button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#guessCollapse" aria-expanded="true" aria-controls="guessCollapse">
		Click to display / hide your previous incorrect guesses.
	</button>

	<div class="collapse" id="guessCollapse">
		<div class="card card-body">
			<center>
				{% for previousGuess in previousGuesses %}
				<p {% if previousGuess.correct %} style="color:green; font-weight: bolder" {% endif %}>
					{{previousGuess}}</p>
				{% endfor %}
			</center>
		</div>
	</div>





</div>
</div>

{% endblock %}