{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<center>
		<h4>{{puzzle.winPun | safe}}</h4>
		{% if puzzle.id == 8 %}
			<img src="{% static 'PHapp/img/assange.png' %}" alt="The bridge troll" style="padding:10px">
		{% endif %}
		<br>
		<h4>You have solved <b>{{puzzle.hyperlinkText}}: {{puzzle.title}}</b>.</h4>
		<h4>This has earned your team <font style='color:green'><b>{{points}} points</b></font>.</h4>
		<br>
		
		{% if altAns %}
			<h5>Your solution of <font style='color:green'><b>{{altAns}}</b></font> is acceptable, but</h5>
			<h4>the actual solution is: </h4>
		{% else %}
			<h4>The solution is: </h4>
		{% endif %}
		<h4 style='color:green'><b>{{puzzle.answer}}</b></h4>
		<br> 
		<h6>You have {{team.guesses}} guesses remaining.</h6>
	</center>
</div>
</div>

{% endblock %}