{% extends "PHapp/header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<center>
		<h4>Enter a guess for Act {{puzzle.act}} Scene {{puzzle.scene}}: {{puzzle.title}}</h4>
		<br>
		{% if displayWrong %}
			<h4 style='color:red'>Incorrect!</h4>
			<h4 style='color:red'>{{puzzle.losePun}}</h4>
			<br>
		{% endif %}
		<h6>You have {{team.guesses}} guesses remaining.</h6>
	</center>

	<div>
		<form method="post">
			<div class="form-group text-center">
				{% csrf_token %}
				{{ solveform|crispy }}
				<button type="submit" class="btn btn-success btn-block">Submit</button>
			</div>
		</form>
	</div>
</div>
</div>

{% endblock %}