{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}<br>
<div class="outer-container">
<div class="inner-container">
<center>
	<h6>Team information</h6>

	{% if team.aussie %}
		<h1>🇦🇺 {{team.teamName}} 🇦🇺</h1>
	{% else %}
		<h1>{{team.teamName}}</h1>
	{% endif %}

	<br>
	<h4>Points: <font style='color:green'><b>{{team.teamPoints}}</b></font></h4>
	<h4>Puzzles solved: <font style='color:green'><b>{{team.teamPuzzles}}</b></font></h4>
	<h4>Average solve time: <font style='color:green'><b>{{avSolveTime}}</b></font></h4>
	{% if team.authClone == user %}
		<h4>Guesses remaining: <font style='color:green'><b>{{team.guesses}}</b></font></h4>
	{% endif %}
	<br>

	<h4>Members:</h4>
	{% for member in members %}
		<h6>{{member.name}}</h6>
	{% endfor %}
	
	{% if team.authClone == user %}
		<h6><a href='/teamEdit/'>Add members to your team</a></h6>
		<h6>We recommend a <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3HUMG3RCWHH8N&item_name=MUMS+Puzzle+Hunt&currency_code=AUD&source=url">donation</a> of $2 AUD per member, or ${{donation}} for your team. Thank you for your support!! ❤</h6>
	{% endif %}

	<br>
</center>

{% if anySolves %}
	<center>
		<h4>Solve history:</h4>
	</center>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Puzzle</td>
				<td>Solve time</td>
				<td>Time taken</td>
				<td>Points awarded</td>
				{% if team.authClone == user %}
					<td>Incorrect guesses </td>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for correctString, correct, timeTaken, incorrect in correctList %}
				<tr>
					<td><a href='/{{correct.puzzle.pdfURI}}'>{{correctString}}</a></td>
					<td>{{correct.submitTime|date:"d M, h:i:s a"}}</td>
					<td>{{timeTaken}}</td>
					<td>{{correct.pointsAwarded}}</td>
					{% if team.authClone == user %}
						<td>{{incorrect}}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<center>
		<h4>This team has not solved any puzzles yet.</h4>
	</center>
{% endif %}
</div>
</div>
{% endblock %}