{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% if teamsExist %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Rank</td>
					<td>Australian rank</td>
					<td>Team</td>
					<td>Points</td>
					<td>Puzzles solved</td>
					<td>Average solve time (h:m:s)</td>
				</tr>
			</thead>
			<tbody>
				{% for team, avSolveTimeString, avHr, avMin, avSec, rank, ausRank in allTeams %}
					{% if team.teamName == teamName %}
						<tr style="background:lightgreen">
					{% else %}
						<tr>
					{% endif %}
						<td>{{rank}}</td>
						<td>{{ausRank}}</td>
						{% if team.solvedMetaTwo %}
							<td><img src="{% static 'PHapp/img/logo.png' %}" alt="Logo" style="height:25px; margin-right:15px"><a href='/team/{{team.id}}'>{{team.teamName}}</a></td>
						{% else %}
							<td><a href='/team/{{team.id}}'>{{team.teamName}}</a></td>
						{% endif %}
						<td>{{team.teamPoints}}</td>
						{% if team.solvedMetaTwo %}
							<td>{{team.teamPuzzles}} + Meta</td>
						{% else %}
							<td>{{team.teamPuzzles}}</td>
						{% endif %}
						<td>{{avSolveTimeString}}</td>
					</tr>
				{% endfor %}
			</tr>
		</tbody>
		</table>
		<h5>Total number of registered teams: {{allTeams|length}}</h5>
	{% else %}
		<h4>No teams have been registered yet.</h4>
	{% endif %}
</div>
{% endblock %}