{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Rank</td>
				<td>Team</td>
				<td>Points</td>
				<td>Average solve time</td>
			</tr>
		</thead>
		<tbody>
			{% for rank, team in allTeams %}
				{% if team.teamName == teamName %}
					<tr style="background:lightgreen">
				{% else %}
					<tr>
				{% endif %}
					<td>{{rank}}</td>
					<td><a href='/team/{{team.id}}'>{{team.teamName}}</a></td>
					<td>{{team.teamPoints}}</td>
					{% if team.avSolve == None %}
						<td>-</td>
					{% else %}
						<td>{{team.avSolve}}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tr>
	</tbody>
	</table>
</div>
{% endblock %}