{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% include "PHapp/solutions/genericHeader.html" %}  
	
	<p>In this beautifully typeset worksheet, we see that there are two questions. All subquestions of Question 1 turn out to be cryptic clues with the scores as answer lengths. Answers are in alphabetical order.</p>

	<table class="table table-bordered">
		<thead style="font-weight: bold;">
			<tr>
				<td></td><td>Answer</td><td>Cryptic explanation</td>
			</tr>
		</thead>
		<tbody>
			<tr><td>(a)</td><td>CLEANERS</td><td>CLEAR (wipe) around NE (noticable edges) + S (begin scrubbing) = CLEANERS (janitors)</td></tr>
			<tr><td>(b)</td><td>COMPOSITOR</td><td>COM (first letters of creating our manuscript) + (I inside POST) (first letter of ink in letters) + OR (middle of word) = COMPOSITOR (typesetter)</td></tr>
			<tr><td>(c)</td><td>DEMANDING</td><td>Double definition of difficult and ordering</td></tr>
			<tr><td>(d)</td><td>FERRIMAGNETIC</td><td>Anagram of "written on grimy briefcase" after removing the letters in "missed by its owner" = FERRIMAGNETIC (property of yttrium iron garnet)</td></tr>
			<tr><td>(e)</td><td>FRACTURES</td><td>FRURES (anagram of "surfer") around ACT (show) = FRACTURES (does the splits)</td></tr>
			<tr><td>(f)</td><td>GERMINATED</td><td>Anagram of "garden time' = GERMINATED (sprouted)</td></tr>
			<tr><td>(g)</td><td>ICOSAHEDRON</td><td>ICOS (first letters of in confusion ought she) + AHEDRO (anagram of "head or") + N (tail of coin) = ICOSAHEDRON (has twenty faces)</td></tr>
			<tr><td>(h)</td><td>MATRIARCHIES</td><td>Anagram of "charities arm" = MATRIARCHIES (ant colonies or elephant herds)</td></tr>
			<tr><td>(i)</td><td>PARDONABLE</td><td>DON (professor) inside PARABLE (allegory) = PARDONABLE (permissible)</td></tr>
			<tr><td>(j)</td><td>PARTITION</td><td>PARTON (Dolly) around IT (pens "hit" without the starting h) and I (a) = PARTITION (break up)</td></tr>
			<tr><td>(k)</td><td>PISTACHIO</td><td>Anagram of "sociopathic" without CO (unco) = PISTACHIO (nut)</td></tr>
			<tr><td>(l)</td><td>PREDATORS</td><td>Anagram of "and sport deerskins" without KINDNESS = PREDATORS (hunters)</td></tr>
			<tr><td>(m)</td><td>RELOCATED</td><td>RELATED (affiliated) around OC (anagram of CO from company) = RELOCATED (moved elsewhere)</td></tr>
			<tr><td>(n)</td><td>SNOOKERING</td><td>Anagram of "snorkelling" around O (ball) - LL (remove half of "till") = SNOOKERING (in pool, trapping)</td></tr>
			<tr><td>(o)</td><td>STAGECRAFT</td><td>Anagram of "great facts" = STAGECRAFT (about lights, costumes, scenery etc.)</td></tr>
			<tr><td>(p)</td><td>SUPERGIANT</td><td>Anagram of "signature" and P (page) = SUPERGIANT (a huge star)</td></tr>
		</tbody>
	</table>

	<p>Next, Question 2 appears to be quick clues, and the answers are once again in alphabetical order.</p>
	<ul style="list-style-type:none;">
		<li>(a) ACID</li>
		<li>(b) ALAN</li>
		<li>(c) A.C.T.G.</li>
		<li>(d) CHAI</li>
		<li>(e) CURE</li>
		<li>(f) KING</li>
		<li>(g) MASH</li>
		<li>(h) M.ENG</li>
		<li>(i) NAND</li>
		<li>(j) RENT</li>
		<li>(k) RIOT</li>
		<li>(l) ROOM</li>
		<li>(m) RUSE</li>
		<li>(n) SCAN</li>
		<li>(o) STAR</li>
		<li>(p) TACO</li>
	</ul>

	<p>The puzzle's title indicates that we should divide the answers to Question 1 (numerators) by the answers to Question 2 (denominators). When match one numerator with one denominator, we divide by cancelling out any shared letters as if the letters were algebraic variables on either side of a vinculum. The quotient can be anagrammed into a word. Where . Thus, in order of numerators:</p>

	<table class="table table-bordered">
		<thead style="font-weight: bold;">
			<tr>
				<td>Numerator</td><td>Denominator</td><td>Quotient</td><td>Possible anagrams</td>
			</tr>
		</thead>
		<tbody>
			<tr><td>CLEANERS</td><td>SCAN</td><td>LEER</td><td>LEER, REEL</td></tr>
			<tr><td>COMPOSITOR</td><td>ROOM</td><td>CPSITO</td><td>OPTICS, PICOTS, TOPICS</td></tr>
			<tr><td>DEMANDING</td><td>NAND</td><td>DEMIG</td><td>MIDGE</td></tr>
			<tr><td>FRACTURES</td><td>CURE</td><td>FRATS</td><td>FARTS, RAFTS</td></tr>
			<tr><td>FERRIMAGNETIC</td><td>MENG</td><td>FRRIAETIC</td><td>ARTIFICER</td></tr>
			<tr><td>GERMINATED</td><td>RENT</td><td>GMIAED</td><td>IMAGED</td></tr>
			<tr><td>ICOSAHEDRON</td><td>ACID</td><td>OSHERON</td><td>ONSHORE</td></tr>
			<tr><td>MATRIARCHIES</td><td>MASH</td><td>TRIARCIE</td><td>CRITERIA</td></tr>
			<tr><td>PARDONABLE</td><td>ALAN</td><td>PRDOBE</td><td>PROBED</td></tr>
			<tr><td>PARTITION</td><td>RIOT</td><td>PATIN</td><td>INAPT, PAINT, PATIN, PITA</td></tr>
			<tr><td>PISTACHIO</td><td>CHAI</td><td>PISTO</td><td>POSIT</td></tr>
			<tr><td>PREDATORS</td><td>STAR</td><td>PREDO</td><td>PORED, ROPED</td></tr>
			<tr><td>RELOCATED</td><td>TACO</td><td>RELED</td><td>ELDER</td></tr>
			<tr><td>SNOOKERING</td><td>KING</td><td>SNOOER</td><td>NOOSER, SOONER</td></tr>
			<tr><td>STAGECRAFT</td><td>ACTG</td><td>SERAFT</td><td>FASTER, STRAFE</td></tr>
			<tr><td>SUPERGIANT</td><td>RUSE</td><td>PGIANT</td><td>TAPING</td></tr>
		</tbody>
	</table>

	<p>When in doubt, just apply the mechanism again! Let's try and divide the quotients amongst themselves.</p>

	<table class="table table-bordered">
		<thead style="font-weight: bold;">
			<tr>
				<td>Quotient 1 (numerator)</td><td>Quotient 2 (denominator)</td><td>Quotients' quotient</td>
			</tr>
		</thead>
		<tbody>
			<tr><td>CPSITO</td><td>PISTO</td><td>C</td></tr>
			<tr><td>FRRIAETIC</td><td>TRIARCIE</td><td>F</td></tr>
			<tr><td>GMIAED</td><td>DEMIG</td><td>A</td></tr>
			<tr><td>OSHERON</td><td>SNOOER</td><td>H</td></tr>
			<tr><td>PRDOBE</td><td>PREDO</td><td>B</td></tr>
			<tr><td>RELED</td><td>LEER</td><td>D</td></tr>
			<tr><td>SERAFT</td><td>FRATS</td><td>E</td></tr>
			<tr><td>PGIANT</td><td>PATIN</td><td>G</td></tr>
		</tbody>
	</table>

	<p>The quotients' quotients are the first eight letters of the alphabet! This strongly suggests an ordering system. Perhaps we should order our first set of quotients by what their corresponding quotients' quotients are.</p>

	<table class="table table-bordered">
		<thead style="font-weight: bold;">
			<tr>
				<td>Quotients' quotient</td><td>Quotient</td><td>Possible anagrams of quotient</td>
			</tr>
		</thead>
		<tbody>
			<tr><td>A</td><td>GMIAED</td><td>IMAGED</td></tr>
			<tr><td>A</td><td>DEMIG</td><td>MIDGE</td></tr>
			<tr><td>B</td><td>PRDOBE</td><td>PROBED</td></tr>
			<tr><td>B</td><td>PREDO</td><td>PORED, ROPED</td></tr>
			<tr><td>C</td><td>CPSITO</td><td>OPTICS, PICOTS, TOPICS</td></tr>
			<tr><td>C</td><td>PISTO</td><td>POSIT</td></tr>
			<tr><td>D</td><td>RELED</td><td>ELDER</td></tr>
			<tr><td>D</td><td>LEER</td><td>LEER, REEL</td></tr>
			<tr><td>E</td><td>SERAFT</td><td>FASTER, STRAFE</td></tr>
			<tr><td>E</td><td>FRATS</td><td>FARTS, RAFTS</td></tr>
			<tr><td>F</td><td>FRRIAETIC</td><td>ARTIFICER</td></tr>
			<tr><td>F</td><td>TRIARCIE</td><td>CRITERIA</td></tr>
			<tr><td>G</td><td>PGIANT</td><td>TAPING</td></tr>
			<tr><td>G</td><td>PATIN</td><td>INAPT, PAINT, PATIN, PITA</td></tr>
			<tr><td>H</td><td>OSHERON</td><td>ONSHORE</td></tr>
			<tr><td>H</td><td>SNOOER</td><td>NOOSER, SOONER</td></tr>
		</tbody>
	</table>

	<p>Reading off the possible anagrams, we see that the unambiguous anagrams' first letters spell IMP??PE???ACT?ON. A few trials (and educated guesses) should reveal the final answer of <b>IMPROPER FRACTION</b>. The way we've been doing fractions in this puzzle is certainly improper!</p>

	<br>

	<h4>Authors' notes</h4>
	<p>We feel what caused the most strife in this puzzle are the ambiguous anagrams. During test-solving, the ambiguities were picked up but the test-solvers felt they had enough unambiguous anagrams to go on to reach the final answer. This was why we didn't think too much about it. Preliminary feedback from real solvers, however, was rightly critical of this, and we should have done more to correct for it. Perhaps the easiest way around this was to clue for the desired anagrams (vaguely but enough to distinguish which anagram we wanted), and we do regret not implementing this.</p>

	<p>That aside, most teams seemed able to crack this puzzle in the end, which was good to see. Hopefully the other elements of this puzzle (the repeated divisions etc) was more palatable for everyone.</p>

</div>
</div>

{% endblock %}