{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% include "PHapp/solutions/genericHeader.html" %}  
	
	<p>It's Act IV, we're all tired and our brains are mush. What better way to brighten up the day than with a nice chill wordsearch and easy quick clues?</p>

  <p>Solving a few of the aforementioned quick clues reveals that the answer words or phrases all contain the string "LIGHT". The residues of the answers is what is enumerated, and the clues are all ordered in alphabetical order by those residues. The full answer list is:</p>

  <ul>
    <li>LIGHT<b>BULB</b></li>
    <li><b>CANDLE</b>LIGHT</li>
    <li><b>DE</b>LIGHT</li>
    <li>LIGHT<b>EN</b></li>
    <li>LIGHT<b>ER</b></li>
    <li><b>FEATHER</b>LIGHT</li>
    <li><b>GUIDING</b>LIGHT</li>
    <li><b>HEAD</b>LIGHT</li>
    <li>LIGHT<b>HOUSES</b></li>
    <li><b>INFRARED</b> LIGHT</li>
    <li><b>LIME</b>LIGHT</li>
    <li>LIGHT<b>LY</b></li>
    <li>LIGHT<b>NING</b></li>
    <li>LIGHT <b>POLLUTION</b></li>
    <li><b>SEARCH</b>LIGHT</li>
    <li><b>SKY</b>LIGHT</li>
    <li><b>SPOT</b>LIGHT</li>
    <li><b>STREET</b>LIGHT</li>
    <li><b>STROBE</b>LIGHT</li>
    <li><b>TWI</b>LIGHT</li>
    <li>LIGHT<b>WEIGHT</b></li>
    <li><b>YELLOW</b>LIGHT</li>
  </ul>

  <p>The residues can now be located on the wordsearch. Note, however, a few differences from standard wordsearches:</p>
  <ul>
    <li>the residues are not located in straight lines</li>
    <li>no two residues cross</li>
    <li>no diagonals</li>
  </ul>

  <p>This means there is only one unique way of filling in the wordsearch, as show below:</p>

  <center><img src="{% static 'PHapp/img/solutions/4.3.1.png' %}" alt="Grid" style="width:700px; padding:10px;"></center>

  <p>If we remove the underlying grid and look only at the marks we've made:</p>

  <center><img src="{% static 'PHapp/img/solutions/4.3.2.png' %}" alt="Grid 2" style="width:700px; padding:10px;"></center>

  <p>These marks look rather like the word <b>EVEREADY</b>, if written in block letters, was lit from the top left and had cast shadows. The big sun in the top left of the image as well as the shadowy font used in the wordsearch confirms that we should consider some sort of top-left lighting and shadows. Furthermore, Eveready is a brand of battery, so that fits in with the light theme of this puzzle.</p>

  <h4>Author's note</h4>
  <p>The puzzle that was originally meant for the solution EVEREADY was not ready by the start of the Hunt, so I decided to scrap it and replace it with a backup puzzle. This necessarily meant that this puzzle was easier than expected for Act IV, although that was probably a relief for many teams.</p>

  <p>The first time I saw the idea of having letters cast shadows when I was researching past puzzle hunts; it was used in a <a href='https://researchers.ms.unimelb.edu.au/~mums/puzzlehunt/2014/answers.html?puzzle=5.4'>2014 MUMS Puzzle Hunt puzzle</a>. I thought this was a neat mechanism that deserves to see the light (haha) of day again, although obviously in the context of a completely different puzzle concept. 2014 was sufficiently long ago that hopefully the majority of 2019 solvers did not recall it. For those who did, hopefully it was a nice bit of nostalgia for you!</p>

  <p>In order to get the visual extraction, it was critical to use lines to mark words in the wordsearch rather than bubbles or highlighting. The fact that this wordsearch is so fundamentally different from normal wordsearches should be a hint to try something new. Apologies to the teams that were stuck at this step; I made sure to hint for it in the Hints, so hopefully that helped.</p>

</div>
</div>

{% endblock %}