{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% include "PHapp/solutions/genericHeader.html" %}  
	
	<p>When we first open this puzzle, we can observe that this puzzle is composed of nothing more than a record containing a number of short phrases in a foreign (or, in the case of some of our puzzlers, native) language, with the capitalised word "MUSIKER" lying in the centre of the record. Upon further investigation, we realise that the language in question is Swedish, and we proceed to translate the phrases as follows:</p>

	<table class="table table-bordered">
	  <tr>
	    <th width="24%">Swedish</th>
	    <th width="24%">English</th>
	    <th width="4%"> </th>
	    <th width="24%">Swedish</th>
	    <th width="24%">English</th>
	  </tr>
	  <tr>
	    <td>en dröm</td>
	    <td>a dream</td>
	    <td> </td>
	    <td>i landet</td>
	    <td>in the country</td>
	  </tr>
	  <tr>
	    <td>en plats</td>
	    <td>a place</td>
	    <td> </td>
	    <td>på morgonljuset</td>
	    <td>in the morning light</td>
	  </tr>
	  <tr>
	    <td>en framgång som</td>
	    <td>a success that</td>
	    <td> </td>
	    <td>i dessa</td>
	    <td>in these</td>
	  </tr>
	  <tr>
	    <td>en liten figur</td>
	    <td>a small figure</td>
	    <td> </td>
	    <td>det är så spännande</td>
	    <td>it is so exciting</td>
	  </tr>
	  <tr>
	    <td>nästan slack</td>
	    <td>almost slack</td>
	    <td> </td>
	    <td>ljus</td>
	    <td>light</td>
	  </tr>
	  <tr>
	    <td>och jag är stolt</td>
	    <td>and I'm proud</td>
	    <td> </td>
	    <td>se annorlunda ut</td>
	    <td>look different</td>
	  </tr>
	  <tr>
	    <td>och rädslan</td>
	    <td>and the fear</td>
	    <td> </td>
	    <td>mina känslor</td>
	    <td>my feelings</td>
	  </tr>
	  <tr>
	    <td>och lamporna</td>
	    <td>and the lights</td>
	    <td> </td>
	    <td>aldrig</td>
	    <td>never</td>
	  </tr>
	  <tr>
	    <td>en annan kväll</td>
	    <td>another night</td>
	    <td> </td>
	    <td>natt</td>
	    <td>night</td>
	  </tr>
	  <tr>
	    <td>är låga</td>
	    <td>are low</td>
	    <td> </td>
	    <td>inte stilen</td>
	    <td>not the style</td>
	  </tr>
	  <tr>
	    <td>är du säker</td>
	    <td>are you sure</td>
	    <td> </td>
	    <td>ingenting</td>
	    <td>nothing</td>
	  </tr>
	  <tr>
	    <td>vid soluppgången</td>
	    <td>at sunrise</td>
	    <td> </td>
	    <td>nu finns det</td>
	    <td>now there is</td>
	  </tr>
	  <tr>
	    <td>dåliga dagar</td>
	    <td>bad days</td>
	    <td> </td>
	    <td>gammal</td>
	    <td>old</td>
	  </tr>
	  <tr>
	    <td>innan</td>
	    <td>before</td>
	    <td> </td>
	    <td>på taket</td>
	    <td>on the roof</td>
	  </tr>
	  <tr>
	    <td>barn</td>
	    <td>children</td>
	    <td> </td>
	    <td>endast</td>
	    <td>only</td>
	  </tr>
	  <tr>
	    <td>alla</td>
	    <td>all</td>
	    <td> </td>
	    <td>ute för</td>
	    <td>out for</td>
	  </tr>
	  <tr>
	    <td>ögon</td>
	    <td>eyes</td>
	    <td> </td>
	    <td>ut</td>
	    <td>out</td>
	  </tr>
	  <tr>
	    <td>bra dagar</td>
	    <td>good days</td>
	    <td> </td>
	    <td>spela deras</td>
	    <td>play theirs</td>
	  </tr>
	  <tr>
	    <td>har gäspat</td>
	    <td>has yawned</td>
	    <td> </td>
	    <td>stel</td>
	    <td>rigid</td>
	  </tr>
	  <tr>
	    <td>han gav dem</td>
	    <td>he gave them</td>
	    <td> </td>
	    <td>rum</td>
	    <td>room</td>
	  </tr>
	  <tr>
	    <td>hej Honolulu</td>
	    <td>hi Honolulu</td>
	    <td> </td>
	    <td>hon stod</td>
	    <td>she stood</td>
	  </tr>
	  <tr>
	    <td>hej Honolulu</td>
	    <td>hi Honolulu</td>
	    <td> </td>
	    <td>så</td>
	    <td>so</td>
	  </tr>
	  <tr>
	    <td>innehav</td>
	    <td>holding</td>
	    <td> </td>
	    <td>fortfarande</td>
	    <td>still</td>
	  </tr>
	  <tr>
	    <td>jag kan tänka mig</td>
	    <td>I can imagine</td>
	    <td> </td>
	    <td>dagen</td>
	    <td>day</td>
	  </tr>
	  <tr>
	    <td>jag måste ha</td>
	    <td>I must have</td>
	    <td> </td>
	    <td>elden</td>
	    <td>fire</td>
	  </tr>
	  <tr>
	    <td>jag tittade</td>
	    <td>I watched</td>
	    <td> </td>
	    <td>planet kommer att gå ner</td>
	    <td>the plane will go down</td>
	  </tr>
	  <tr>
	    <td>jag ropar högt</td>
	    <td>I cry out loud</td>
	    <td> </td>
	    <td>tusen</td>
	    <td>thousand</td>
	  </tr>
	  <tr>
	    <td>jag är avundsjuk</td>
	    <td>I am jealous</td>
	    <td> </td>
	    <td>att säga</td>
	    <td>to say</td>
	  </tr>
	  <tr>
	    <td>jag tänker</td>
	    <td>I think</td>
	    <td> </td>
	    <td>i kväll</td>
	    <td>tonight</td>
	  </tr>
	  <tr>
	    <td>om några timmar</td>
	    <td>in a few hours</td>
	    <td> </td>
	    <td>var</td>
	    <td>where</td>
	  </tr>
	  <tr>
	    <td>i hans</td>
	    <td>in his</td>
	    <td> </td>
	    <td>du kom</td>
	    <td>you came</td>
	  </tr>
	  <tr>
	    <td>i sval</td>
	    <td>in cool</td>
	    <td> </td>
	    <td>du kommer till</td>
	    <td>you come to</td>
	  </tr>
	</table>

	<p>After translating, we soon realise (either from the phrases themselves or with the help of Google) that these appear to reference ABBA songs. However, only small snippets of eight songs appear. Some blanket Googling of the lyrics should be able to uncover the songs to be:</p>
	<ul style="font-style: italic">
		<li>Cassandra</li>
		<li>Dancing Queen</li>
		<li>The Day Before You Came</li>
		<li>Happy Hawaii</li>
		<li>Knowing Me, Knowing You</li>
		<li>The Piper</li>
		<li>That’s Me</li>
		<li>Super Trouper</li>
	</ul>

	<p>We may then come to realise that these songs form 4 pairs, each consisting of one A-side and one B-side track from the same record. The verses, ordered by year of song release, are as follows (the relevant lyrics have been bolded for reference):</p>

	<table class="table table-bordered">
		<tr><td width="50%"><u><i>Dancing Queen</i> — 1976 (A)</u></br>
		Friday <b>(night)</b> <b>(and the lights)</b> <b>(are low)</b></br>
		Looking <b>(out for)</b> <b>(a place)</b> to go</br>
		<b>(Where)</b> they play the right music, getting in the swing</br>
		<b>(You come)</b> to look for a king

		</td><td width="50%"><u><i>That’s Me</i> — 1976 (B)</u></br>

		<b>(Are you sure)</b> you wanna hear more?</br>
		What if I ain't worth the while	</br>
		<b>(Not the style)</b> you'd be looking for?</br>
		If I'm sweet <b>(tonight)</b></br>
		Things <b>(look different)</b> <b>(in the morning light)</b></br>
		<b>(I'm jealous)</b> <b>(and I'm proud)</b></br>
		If you hurt <b>(my feelings)</b> <b>(I'll cry out loud)</b>

		</td></tr>
		<tr><td width="50%"><u><i>Knowing Me, Knowing You</i> — 1977 (A)</u></br>

		Memories, <b>(good days)</b>, <b>(bad days)</b></br>
		They'll be with me always</br>
		<b>(In these)</b> <b>(old)</b> familiar <b>(rooms)</b> <b>(children)</b> would play</br>
		<b>(Now there's)</b> only emptiness, <b>(nothing)</b> <b>(to say)</b>

		</td><td width="50%"><u><i>Happy Hawaii</i> — 1977 (B)</u></br>

		<b>(It's so exciting)</b>, why should I pretend</br>
		<b>(In a few hours)</b> <b>(the plane will descend)</b></br>
		<b>(Hey Honolulu)</b>, we're going to happy Hawaii</br>
		<b>(I can imagine)</b> the beach and the sand</br>
		Walking with someone and <b>(holding)</b> his hand</br>
		<b>(Hey Honolulu)</b>, we're going to happy Hawaii

		</td></tr>
		<tr><td width="50%"><u><i>Super Trouper</i> — 1980 (A)</u></br>

		Facing twenty <b>(thousand)</b> of your friends</br>
		How can anyone be so lonely?</br>
		Part of <b>(a success that)</b> <b>(never)</b> ends</br>
		<b>(Still)</b>, <b>(I'm thinking)</b> about you <b>(only)</b>

		</td><td width="50%"><u><i>The Piper</i> — 1980 (B)</u></br>

		<b>(He gave them)</b> <b>(a dream)</b></br>
		He seduced <b>(everybody)</b> <b>(in the land)</b></br>
		<b>(The fire)</b> <b>(in his)</b> <b>(eyes)</b></br>
		<b>(And the fear)</b> was a weapon in his hand</br>
		<b>(So)</b> they let him play</br>
		<b>(Play their)</b> minds away

		</td></tr>
		<tr><td width="50%"><u><i>The Day Before You Came</i> — 1982 (A)</u></br>

		And turning <b>(out the)</b> <b>(light)</b></br>
		I must <b>(have yawned)</b> and cuddled up for yet <b>(another night)</b></br>
		And rattling <b>(on the roof)</b> <b>(I must have)</b> heard the sound of rain</br>
		<b>(The day)</b> <b>(before)</b> <b>(you came)</b>

		</td><td width="50%"><u><i>Cassandra</i> — 1982 (B)</u></br>

		<b>(I watched)</b> the ship leaving harbour <b>(at sunrise)</b></br>
		Sails <b>(almost slack)</b> <b>(in the cool)</b> morning rain</br>
		<b>(She stood)</b> on deck, just <b>(a tiny figure)</b></br>
		<b>(Rigid)</b> and restrained, blue eyes filled with pain
		</td></tr>
	</table>
	
	<p>Note that the 64 Swedish fragments can then be split into 16 fragments per pair. For each song, a fragment pattern describing where consecutive fragments fit into the song can be constructed. For instance, <i>Dancing Queen</i> is —AAA—AA—A—A—, while <i>That's Me</i> is B—B—B—BBBB—BB. We note that these two patterns can be interwoven into BAAABAABABBBBABB. Continuing for the other songs:</p>

	<table class="table table-bordered">
		<tr>
    <th>A-side song</th>
    <th>Pattern</th>
    <th>B-side song</th>
    <th>Pattern</th>
    <th>Interwoven pattern</th>
  </tr>
  <tr>
    <td><i>Dancing Queen</i></td>
    <td>—AAA—AA—A—A—</td>
    <td><i>That's Me</i></td>
    <td>B—B—B—BBBB—BB</td>
    <td>BAAABAABABBBBABB</td>
  </tr>
  <tr>
    <td><i>Knowing Me, Knowing You</i></td>
    <td>—AA—AA—AA—A—AA</td>
    <td><i>Happy Hawaii</i></td>
    <td>B—BBB—B—B—B—</td>
    <td>BAABBBAABAABABAA</td>
  </tr>
  <tr>
    <td><i>Super Trouper</i></td>
    <td>—A—AA—AA—A</td>
    <td><i>The Piper</i></td>
    <td>BB—BBBBBB—B—B—</td>
    <td>BBABBBBBBAABAABA</td>
  </tr>
  <tr>
    <td><i>The Day Before You Came</i></td>
    <td>—AA—A—A—AA—AAA</td>
    <td><i>Cassandra</i></td>
    <td>B—B—BB—B—BB—</td>
    <td>BAABABBABAABBAAA</td>
  </tr>
	</table>

	<p>Splitting each interwoven pattern in two, we obtain eight sequences of eight letters each: BAAABAAB / ABBBBABB / BAABBBAA / BAABABAA / BBABBBBB / BAABAABA / BAABABBA / BAABBAAA. This sequence can then be translated to binary to yield 01110110 / 10000100 / 01100011 / 01101011 / 00100000 / 01101101 / 01101001 / 01100111, using A = 1 and B = 0. If we convert the binary to decimal, we obtain the numbers 118 / 132 / 99 / 107 / 32 / 109 / 109 / 105 / 103, which is 8-bit ASCII for the string "väck mig", which translates to "Wake Me Up" in English.</p>

	<p>We now return back to a key piece of information at the very beginning of this solving process — that is, the word "MUSIKER" that lies in the centre of the record. This word roughly translates to "Musician" or "Artist" in English, and so we are now looking for the artist responsible for "Wake Me Up", which is not ABBA but, rather the late Swedish DJ <b>AVICII</b>.</p>

	<br>

	<h4>Author's notes</h4>

	<p>This puzzle was inspired by a shower playlist containing a number of pimpin' ABBA hits. Unfortunately, for both the solvers and for us, not many of those hits actually made their way into the puzzle (shout-out to "Dancing Queen"!). In addition, we were also pleased to have incorporated a puzzle in a not-so-common foreign language (even if it could be circumvented rather easily via Google Translate...) However, we do apologise to any speakers of Swedish for any egregious errors that were made during the cluing process of this puzzle — unfortunately, we did not have any native Swedish speakers on hand and had to opt for the ol' back-and-forth Google Translate... </p>
	
	<p>Speaking of egregious errors, we would like to just quickly address some inconsistencies within the puzzle:</p>
	<ul>
		<li>There were, of course, some inconsistencies in the translation from Swedish to English. This, of course, was expected, as very few languages can translate truly into one another and not experience any ambiguity. Attempts were made to mitigate this by choosing more amenable lyrics, changing some of the Swedish fragments into something that would make less sense but would produce a more reliable translation, etc. Overall, we thought that if teams realised this puzzle referred to ABBA lyrics, and if they had a good idea about the 'sense' of some these phrases (EG/ "hej Honolulu" -> "Hey Honolulu" and not "Hi Honolulu", as Google Translate would suggest), then they should not have much trouble with the rest of the translating.</li>
		<li>An attempt was made at providing two ordering mechanisms for the verses in this puzzle. The first ordering mechanism, and the most reliable one, would be by year of record release. The second ordering mechanism, which would perhaps require a touch more intuition, involves realising that these songs have pulled their lyrics from verses at different stages of each song (EG/ Dancing Queen / That's Me both take lyrics from Verse 1; Knowing Me, Knowing / Happy Hawaii both take lyrics from Verse 2; etc). We hope that teams did not experience much trouble with the ordering of the A-side / B-side pairs. </li>
		<li>Another inelegance that proved difficult to avoid during the puzzle-writing process was the A = 1 and B = 0 step. We felt that if teams isolated the two 8-bit strings comprising of solely A's and B's from each verse, then the mental leap to binary would not be far off from them. This leaves us with the task of assigning the A's and B's to 0's and 1's. And while this might seem to be one of the more trivial points, there was still disagreement as to whether A = 0 and B = 1 (following alpha-numerical order) or A = 1 and B = 0 (with the A-side being the primary track and the B-side being the lesser known accompaniment on the record) was the right way to go. Both puzzle writers found it quite funny (in both the 'peculiar' sense and the 'ha-ha' sense) regarding how their natural inclinations could be so different and diametrically opposed. </li>
		<li>The final step also proved to be an interesting point for us. While we initially thought the clue phrase of "väck mig" was adequate in cluing for AVICII, we did add the "MUSIKER" prompt to the record to ensure that this leap was as watertight as possible, without handing the solution to our teams on a silver platter. We also thought that our use of the 'a' with an umlaut was a neat manoeuvre, as it would reinforce the idea that the code phrase was in Swedish, whilst simultaneously justifying our use of 8-bit ASCII (extended ASCII) over 7-bit ASCII. There were, however, a number of issues with the letter "ä". Chief among them was the disagreement across a number of sources regarding its identity according to extended ASCII — in the end, the number we opted for was the version that corresponded to its alt code.</li>
		<li>We would also like to take the time to apologise for an erratum that was issued surrounding this letter — we initially clued for the 8-bit string of "01111011" instead of the correct "10000100", which prompted a hasty change of 8 of the Swedish phrases.</li>
		<li>Another regret that we have, which is propagated by hindsight, is the fact that the answer is far too thematically on-point. It should not take long for teams to realise that this is a song about Swedish music, and, besides the rather obvious guess of "ABBA", a number of teams would naturally guess "AVICII".</li>
	</ul>
	<p>Having said all that, we are still reasonably satisfied with the puzzle that we have produced in the end, and we hope the solvers can come to understand a few of the key points of consideration that go into our puzzle-writing process.</p>
	<p>And, to end on a lighter note, a fun fact that we uncovered along the way that we didn't get the chance to incorporate was the fact that "SOS" is a hit song for both ABBA and Avicii, and if "SOS song" is Googled, it is actually the Avicii song that comes up as the top hit. While we would have loved to incorporate this fun fact into our puzzle — via a different final code phrase like, say, "SOS/MUSIKER" — we ultimately decided against it and have thus allowed this interesting little piece of information to remain forever untouched at the bottom of this solutions page.</p>

</div>
</div>

{% endblock %}