{% extends "PHapp/header.html" %}
{% load static %}

{% block content %}
<div class="outer-container">
<div class="inner-container">
	{% include "PHapp/solutions/genericHeader.html" %}  
	
	<p>We open this puzzle to reveal that we have stumbled upon somebody’s dental record. A closer inspection reveals that this patient has had services performed on practically every tooth (proper oral hygiene, anyone?), and that these services resemble sweet-themed quick clues more than anything else. So let’s get to work!</p>

	<table class="table table-bordered">
	  <tr>
	    <th> Tooth #</th>
	    <th>Clue</th>
	    <th>Answer</th>
	  </tr>
	  <tr>
	    <td>11</td>
	    <td>Chemical produced by fermenting glucose (7)</td>
	    <td>ETHANOL</td>
	  </tr>
	  <tr>
	    <td>12</td>
	    <td>Take away someone’s ability to command, perhaps because they had their hands in the cookie jar (5)</td>
	    <td>STRIP</td>
	  </tr>
	  <tr>
	    <td>13</td>
	    <td>Chocolate and cream icing (7)</td>
	    <td>GANACHE</td>
	  </tr>
	  <tr>
	    <td>14</td>
	    <td>Celtic person north of the Hadrian Wall waiting for the Romans to take their sweet time to leave (4)</td>
	    <td>PICT</td>
	  </tr>
	  <tr>
	    <td>15</td>
	    <td>Where Fa’ausi is a traditional dessert (5)</td>
	    <td>SAMOA</td>
	  </tr>
	  <tr>
	    <td>16</td>
	    <td>What you do with a lolly wrapper before throwing it in the bin (7)</td>
	    <td>SCRUNCH</td>
	  </tr>
	  <tr>
	    <td>17</td>
	    <td>Miami photographer ___ John Sweet (6)</td>
	    <td>ANDREW</td>
	  </tr>
	  <tr style="background:lightgrey">
	    <td>18</td>
	    <td>—</td>
	    <td>—</td>
	  </tr>
	  <tr>
	    <td>21</td>
	    <td>Humour or glycoprotein-containing substance secreted by respiratory mucous cells (6)</td>
	    <td>PHLEGM</td>
	  </tr>
	  <tr>
	    <td>22</td>
	    <td>Sweet little girl whose father was killed by a stingray (5)</td>
	    <td>BINDI</td>
	  </tr>
	  <tr>
	    <td>23</td>
	    <td>___ Levine who wrote “Sugar” (4)</td>
	    <td>ADAM</td>
	  </tr>
	  <tr>
	    <td>24</td>
	    <td>Eyelash cosmetics, perhaps worn by people attending a sweet 16th party (8)</td>
	    <td>MASCARAS</td>
	  </tr>
	  <tr>
	    <td>25</td>
	    <td>Japanese fish as colourful as Skittles (3)</td>
	    <td>KOI</td>
	  </tr>
	  <tr>
	    <td>26</td>
	    <td>Ice cream where one side is a sandwich and the other is covered in chocolate (7)</td>
	    <td>MAXIBON</td>
	  </tr>
	  <tr>
	    <td>27</td>
	    <td>An Acorus calamus is more commonly known as a sweet ___(4)</td>
	    <td>FLAG</td>
	  </tr>
	  <tr style="background:lightgrey">
	    <td>28</td>
	    <td>—</td>
	    <td>—</td>
	  </tr>
	  <tr>
	    <td>31</td>
	    <td>Retro, perhaps describing a shop where lollies are stocked in jars (3-6)</td>
	    <td>OLD SCHOOL</td>
	  </tr>
	  <tr>
	    <td>32</td>
	    <td>Describes the light nature of fairy floss or a large well-ventilated space (4)</td>
	    <td>AIRY</td>
	  </tr>
	  <tr>
	    <td>33</td>
	    <td>Colloquial name of barristers who, as reward for sweet legal victories, are honoured by letters patent (5)</td>
	    <td>SILKS</td>
	  </tr>
	  <tr>
	    <td>34</td>
	    <td>That sweet old lady used to be very mean, but ___ in her old age (8)</td>
	    <td>MELLOWED</td>
	  </tr>
	  <tr>
	    <td>35</td>
	    <td>State that is the home of akutaq (6)</td>
	    <td>ALASKA</td>
	  </tr>
	  <tr>
	    <td>36</td>
	    <td>Disease characterised by weakening bones that may be prevented by lactose-containing foods and drinks (12)</td>
	    <td>OSTEOPOROSIS</td>
	  </tr>
	  <tr>
	    <td>37</td>
	    <td>Falcon known as a “windhover” after its behaviour when hunting for dessert (7)</td>
	    <td>KESTREL</td>
	  </tr>
	  <tr style="background:lightgrey">
	    <td>38</td>
	    <td>—</td>
	    <td>—</td>
	  </tr>
	  <tr>
	    <td>41</td>
	    <td>The public should be ___ about the dangers of sugary diets (8)</td>
	    <td>EDUCATED</td>
	  </tr>
	  <tr>
	    <td>42</td>
	    <td>What the supermarket has to do when their shelves run out of lollies (7)</td>
	    <td>RESTOCK</td>
	  </tr>
	  <tr>
	    <td>43</td>
	    <td>Better cut down on sweets if you have this condition that causes your heart to beat irregularly (10)</td>
	    <td>ARRYTHMIA*</td>
	  </tr>
	  <tr>
	    <td>44</td>
	    <td>Coconut-flavoured biscuits sprinkled with sugar crystals produced by Arnott’s (4)</td>
	    <td>NICE</td>
	  </tr>
	  <tr>
	    <td>45</td>
	    <td>Flower typically associated with sweet romantic gestures (4)</td>
	    <td>ROSE</td>
	  </tr>
	  <tr>
	    <td>46</td>
	    <td>Ancient script where “carob” means sweet (11)</td>
	    <td>HIEROGLYPHS</td>
	  </tr>
	  <tr>
	    <td>47</td>
	    <td>Capital city where you may find stroopwafel (9)</td>
	    <td>AMSTERDAM</td>
	  </tr>
	  <tr style="background:lightgrey">
	    <td>48</td>
	    <td>—</td>
	    <td>— </td>
	  </tr>
	</table>

	<p>Now that we have the answers to all of our clues, we should take a look at the other piece of information this dental record has provided us — the numbers corresponding to each tooth. A quick Google search should lead us to the FDI World Dental Federation (ISO 3950) notation, where each tooth is labelled as follows (refer to the numbers in red):</p>

	<center><img src="{% static 'PHapp/img/solutions/6.4.1.png' %}" style="width:70%; padding:10px;"></center>

	<p>As such, we can now attempt to arrange the words into their respective positions in the jaw, ensuring that the upper and lower teeth are matched appropriately. Thus, we should get some sort of diagram resembling this:</p>

	<center><img src="{% static 'PHapp/img/solutions/6.4.2.png' %}" style="width:50%; padding:10px;"></center>

	<p>What may elude solvers here is that there are actually Cadbury Favourites chocolates hidden between the upper and lower teeth (bolded in the table above), and each of these chocolates contains an extra letter (red in the table above).
	</p>

	<p>Reading across, we spot DRE(W)AMS, CRUNCH(H)IE, MO(A)ROS, PIC(T)NIC, CHE(A)RRY RIP(R)ES, OL(E)D G(M)OLDS, D(I)AIRY M(S)ILKS, CARA(S)MELLO KO(I)ALAS, BO(N)OST, and FLA(G)KES.
	</p>

	<p>If we collect all of the extra letters and read from left to right (right to left, anatomically), we obtain the message WHAT ARE MISSING. Presumably, this is a question about what chocolates are missing from the collection provided above.</p>

	<p>We note that the current selection includes Dreams, Crunchie, Moros, Picnic, Cherry Ripes, Old Golds, Dairy Milks, Caramello Koalas, Boost, and Flakes. If we refer to the official Cadbury website for <a href='https://www.cadbury.com.au/Products/Boxed-Chocolates/Favourites-Boxed-Chocolates.aspx' target="_blank">Favourites Boxed Chocolates</a>, we soon realise that the answer refers to a sweet as contentious as liquorice all-sorts and musk sticks — I am, of course, referring to <b>TURKISH DELIGHTS</b>.</p>

  <br>

  <h4>Author's notes</h4>
  <p>The inspiration for this puzzle actually came from my dentist sister who suggested — and I’m still unsure as to whether or not she was joking about this — that I write a puzzle about teeth. I initially wanted to make the Easter Bunny the patient, as rabbits has 28 teeth and would fit well with the 28 clues that I had constructed. However, I discovered too late that a rabbit’s teeth are not symmetrical, with 16 teeth in the upper jaw and 12 teeth in the lower jaw.</p>

	<p>There were also, unfortunately, a number of issues that arose during the puzzle-writing process. Some have been ironed out, but I would still like to address a handful of them for the benefit of the solvers.</p>
	<ul>
		<li>The word “ARRYTHMIA” (*; asterisked) was the incorrect spelling of ARRHYTHMIA, and somehow made its way into our word list and, as a consequence, our puzzle. Unfortunately, by the time we discovered this, it was far too late, and we were forced to leave it in and face the consequences. </li>
		<li>There was potential for confusion with the final code phrase — “WHAT ARE MISSING” could refer to the wisdom teeth — and an attempt was made at circumventing this by greying out teeth 18, 28, 38, and 48, and implying that the wisdom teeth are present and not to be touched.</li>
		<li>There was potential for confusion with the final code phrase — “WHAT ARE MISSING” could refer to the redacted information at the top of the page — and we now realise, in hindsight, this was a cutesy design element that should never have been incorporated in the first place.</li>
		<li>There was some inherent difficulty in making the leap to aligning the teeth and uncovering words and letters between them. However, we believed that the dental notation would be enough for solvers to realise that tooth position in the jaw was important.</li>
		<li>The final mechanism with the Favourites chocolates buried between the teeth was something that went under constant revision — first in choosing which chocolates to include, then in assembling a code phrase, and then finally in drumming up a mechanism (which was initially going to rely on a heavy amount of anagramming).</li>
		<li>The clues were all supposed to be sweet-themed, so we apologise for any unnecessarily contrived clues.</li>
		<li>The clues were also supposed to be very gettable, so we apologise for any overly challenging clues.</li>
	</ul>

	<p>I would just like to finish off this set of solutions by saying a very special thanks to Alec Barber and his programming wizardry for making this puzzle far easier to write. I honestly do not know how my unevolved, old-school, pen-and-paper-driven puzzling process has stood the test of time.</p>

	<p>I would also like to say a special thanks to my fellow co-writers for this Hunt, Allen Gu and Zoe Schwerkolt, for their invaluable assistance in the cluing and test-solving process.</p>

</div>
</div>

{% endblock %}